/*
container-fluid {
    width: 100%;
    height: 90vh;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}
*/
.side-col{
    overflow-y: auto;
}
.form-text {
    font-size: 14px;
}
.main {
    overflow-y: auto;
}
.main1 {
    margin-left: 10px;
}
.current-step {
    font-size: 14px;
}
.step-title {
    font-size: 14px;
}
